#l-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 70px;
}

.m-button__menu * {
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.logo {
    display: flex;
    align-items: center;
    padding-left: 30px;
    height: 100%;
}

.logo h1 {
    height: 100%;
    font-family: 'VAG World Bold', sans-serif;
    font-size: 50px;
    font-weight: bold;
    line-height: 50px;

    background: linear-gradient(267.62deg, #FF9040 0%, #F4802C 30.73%, #E76C13 69.79%, #FF7918 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#l-menu {
    padding-right: 15px;
}

#l-menu,
#l-menu nav,
#l-menu ul,
#l-menu button {
    height: 100%;
}

#l-menu button {
    font-weight: 500;
    font-size: 25px;
}

#l-menu ul {
    display: flex;
    flex-direction: row;
}

.m-button__menu li {
    display: inline-block;
    list-style: outside none none;
    margin: 0 1.5em;
    overflow: hidden;
}

.m-button__menu button {
    padding: 0.3em 0;
    color: #223255;
    position: relative;
    display: inline-block;
    letter-spacing: 1px;
    margin: 0;
    text-decoration: none;
}

.m-button__menu button:before,
.m-button__menu button:after {
    position: absolute;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}
.m-button__menu button:before {
    bottom: 100%;
    display: block;
    height: 5px;
    width: 100%;
    content: "";
    border-radius: 10px;
    background-color: #138cff94;
}
.m-button__menu button:after {
    padding: 0.8em 0;
    position: absolute;
    bottom: 100%;
    left: 0;
    content: attr(data-hover);
    white-space: nowrap;
}
.m-button__menu li:hover button,
.m-button__menu .current button {
    will-change: transform;
    transform: translateY(100%);
}

