#l-quiz-page {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
}

#l-quiz {
    display: flex;
    flex-direction: column;
    gap: 60px;

    padding: 10px 0;
    margin: 0 auto;
    width: 850px;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.quiz-main-title {
    font-family: 'VAG World Bold', sans-serif;
    font-size: 70px;
    color: #5f71ff;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
    cursor: default;
    user-select: none;
    letter-spacing: 5px;
}

.m-quiz-form {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 20px;
    margin: 0 40px;
    width: 770px;
    min-height: 500px;

    background: #FFFFFF;
    /*box-shadow: 0px 4px 20px 3px rgba(0, 0, 0, 0.3);*/
    border-radius: 30px;
}

.m-quiz-form::before {
    content: '';
    position: absolute;

    z-index: -1;
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;

    background: linear-gradient(265.49deg, #00B0FC 0%, #00CEEC 24.48%, #0FAAE6 52.08%, #1A8FE2 76.56%, #4016E6 100%),
    linear-gradient(0deg, #FFFFFF, #FFFFFF);

    border-radius: 34px;
}

.m-question-text {
    margin-top: 50px;
    width: 598px;
    height: 147px;

    box-shadow: 0px 0px 40px 15px rgba(60, 220, 255, 0.8);
    border-radius: 15px;
}

.bg-animation {
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, #0F67EB 0%, #327FF2 33.33%, #5697F8 66.67%, #79AFFF 100%);
    position: absolute;
    z-index: -1;
    top: 0;
    overflow-x: hidden;
}

.cube {
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: solid 1px #0043c7;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    -webkit-animation: cube 12s ease-in forwards infinite;
    animation: cube 12s ease-in forwards infinite;
}
.cube:nth-child(2n) {
    border-color: #0a58f7;
}
.cube:nth-child(2) {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    left: 20vw;
    top: 40vh;
}
.cube:nth-child(3) {
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
    left: 75vw;
    top: 50vh;
}
.cube:nth-child(4) {
    -webkit-animation-delay: 6s;
    animation-delay: 6s;
    left: 90vw;
    top: 10vh;
}
.cube:nth-child(5) {
    -webkit-animation-delay: 8s;
    animation-delay: 8s;
    left: 10vw;
    top: 85vh;
}
.cube:nth-child(6) {
    -webkit-animation-delay: 10s;
    animation-delay: 10s;
    left: 50vw;
    top: 10vh;
}

@-webkit-keyframes cube {
    from {
        transform: scale(0) rotate(0deg) translate(-50%, -50%);
        opacity: 1;
    }
    to {
        transform: scale(20) rotate(960deg) translate(-50%, -50%);
        opacity: 0;
    }
}

@keyframes cube {
    from {
        transform: scale(0) rotate(0deg) translate(-50%, -50%);
        opacity: 1;
    }
    to {
        transform: scale(20) rotate(960deg) translate(-50%, -50%);
        opacity: 0;
    }
}

#l-quiz-page::-webkit-scrollbar,
#l-quiz-page *::-webkit-scrollbar{
    display: none;
}
#l-quiz::-webkit-scrollbar-track {
       /* цвет дорожки */
}
#l-quiz::-webkit-scrollbar-thumb {
    background-color: #00a0d2;    /* цвет плашки */
    border-radius: 10px;       /* закругления плашки */
}
