#l-quiz-page {
    width: 100%;
    min-height: 100vh;
    height: auto;

    background: linear-gradient(135deg, #6bbcff 0%, #6bbcff 25%, #6bbcff 50%, #6bbcff 75%, #6bbcff 100%);
}

#l-quiz {
    display: flex;
    flex-direction: column;
    gap: 60px;

    padding: 70px 0;
    margin: 0 auto;
    width: 770px;
    height: auto;
}

.m-quiz-form {
    width: 770px;
    height: 470px;

    background: #FFFFFF;
    box-shadow: 0 4px 24px 8px rgba(0, 0, 0, 0.2);
    border-radius: 40px;
}