$white: #ffffff;
$black: #000000;
$blue: #149ffd;
$night--dark: #131d39;
$orange: #FF7613;
$orange--transparent: rgba(255, 107, 0, 0.13);
$blue--gradient: linear-gradient(267.62deg, #74BCED 0%, #52ACF2 33.33%, #2E9BF8 66.67%, #0085FF 100%);
$orange--gradient: linear-gradient(267.62deg, rgb(255, 144, 64) 0%, rgb(244, 128, 44) 30.73%, rgb(231, 108, 19) 69.79%, rgb(255, 121, 24) 100%);
