%descriptions {
  width: 470px;

  font-weight: 400;
  font-size: 27px;
  line-height: initial;
}

%roboto {
  font-family: "Roboto", sans-serif;
}

%vag {
  font-family: "VAG World Bold", sans-serif;
}

%montserrat {
  font-family: "Montserrat", sans-serif;
}