#l-footer {
    padding: 105px 0;
    width: 100%;
}

#l-footer article {
    position: relative;
    height: 611px;
    width: auto;
    margin: 0 auto;
}

.contact_us__container {
    position: relative;
    width: max-content;
    margin: 0 auto;
}

.l-contact_us {
    position: relative;
}

.contact_us {
    position: absolute;
    padding: 60px 35px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 926px;
    height: 528px;
    left: 173px;
    top: 53px;

    background: #FFFFFF;
}

.contact_us h5, h4 {
    color: black !important;
}

.m-form {
    width: 389px;

    border-bottom: 2px solid #000000;
}

.form {
    margin-bottom: 38px;

    height: 33px;
}

.form-comment {
    height: 136px;
}

.input-container {
    height: 100%;
}

.feedback h4 {
    margin-bottom: 26px;
}

.communications div:not(.socials) {
    height: 75px;
}

.contacts,
.location,
.socials {
    display: flex;
    flex-direction: column;
}

.contacts div,
.location div,
.socials div {
    display: flex;
    flex-direction: row;
}

.contacts h5,
.location h5,
.socials h5  {
    padding-left: 15px;
}

.contacts img {
    width: 30px;
    height: 29px;
}

.location img {
    width: 35px;
    height: 26px;
}

.socials img {
    width: 30px;
    height: 29px;
}


.contact_us p {
    padding-top: 0;
    font-weight: 400;
    font-size: 16px;
    color: #454545;
}

.location {
    margin-top: 64px;
}

.socials {
    margin-top: 64px;
}

.m-button__feedback {
    margin-top: 26px;
    padding: 14px 46px;
}

.m-button__feedback.button{
    background: #3222F6;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    color: #FFFFFF;

    font-weight: 600;
    font-size: 20px;
}


